.horizontal-scroll-mobile-container {
    display: none;
}

.forging-new-mobile {
    /* display: none; */
}

@media (min-width: 1400px) {

    /*.container {
        max-width: 90%;
    }*/
    .container-full {
        max-width: 90%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1400px) {
    .horizontal-scroll-contant {
        width: 60%;
    }

    .hss-5 .horizontal-scroll-contant {
        width: 80%;
    }

    .hss-7 .horizontal-scroll-contant {
        width: 70%;
    }

    .branded-slide-zoom-image {
        height: 350px;
    }

    .branded-slider-container {
        height: 470px;
    }

    .branded-previous,
    .branded-next {
        top: 55%;
    }

    .property-search select,
    .property-result-filter select {
        width: 180px;
    }

    .forging-new-right-content {
        width: 85%;
    }

    .about-us-page .branded-slider-container {
        height: 430px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}


@media only screen and (max-width: 768px) {

    .custom-btn,
    .custom-btn-2,
    .custom-btn-full-width,
    .custom-btn-full-width-mobile {
        /*        background-image: url('https://www.auralius.com/assets/img/mob-button-big.svg');*/
    }

    .custom-btn-full-width-mobile {
        padding: 15px 0;
        width: 100%;
    }

    /* Devices:
         - iPhone Plus series (6+, 7+, 8+)
         - iPhone 14 Pro Max
         - Galaxy Note series
         - Galaxy S10+, S20+, S23 Ultra
         - Pixel 6, 7 Pro
         - iPad Mini (portrait)
         - Lenovo Tab M7
         - Kindle Fire 7, 8
    */
    .custom-btn,
    .custom-btn-2 {
        padding: 15px 10px;
        min-width: 180px;
        text-align: center;
    }

    .logo img {
        max-width: 90%;
    }

    .project-banner h1 {
        text-align: center !important;
        color: #000 !important;
    }

    .main-header {
        /* top: 20px; */
        /* padding: 0 10px; */
    }

    .project-banner-image::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgb(0 0 0 / 47%), rgb(0 0 0 / 0%), rgb(0 0 0 / 0%));
        z-index: 1;
    }

    .menu-icon {
        width: 30px;
        height: 30px;
        top: 20px;
    }

    .main-popup-box {
        width: 40%;
    }

    .menu-icon.menu-active span:last-child {
        bottom: 9px;
    }

    .menu-icon.menu-active span:first-child {
        top: -2px;
    }

    .search-icon i {
        font-size: 26px;
        /* margin: 0; */
    }

    .search-icon {
        margin: 1px 25px 0 0;
    }

    .mobile-menu {
        width: 100%;
        left: -100%;
    }

    .branded-previous {
        right: 10px;
    }

    .branded-next {
        left: 10px;
    }

    .custom-btn {
        padding: 12px 10px;
        font-size: 12px;
    }

    .mobile-menu:after {
        display: none;
    }

    .award-fade-element-mobile {
        transform: translateX(-500px) !important;
    }

    .award-fade-in {
        transform: translateX(0) !important;
    }

    .award-fade-element-up-side {
        transform: translateX(900px);
        padding: 0 50px 0 25px;
    }

    .award-fade-element {
        transform: translateX(-900px);
        padding: 0 25px 0 50px;
    }

    .awards img {
        max-width: 100%;
        margin-bottom: 20%;
        height: 80px;
    }

    .award-heading {
        font-size: 40px;
    }

    .project-slider-area {
        padding: 0 40px;
    }

    .project-slider-arrow-right {
        right: 0px;
    }

    .project-slider-arrow-left {
        left: 0;
    }

    .project-slider-text-area {
        position: unset;
        transform: unset;
        margin-bottom: 20%;
    }

    .project-slider-arrow-left svg,
    .project-slider-arrow-right svg {
        width: 25px;
    }

    .branded-slider h2 {
        font-size: 25px;
    }

    .branded-slider h3 {
        font-size: 14px;
    }

    .branded-slider-container {
        height: 468px;
    }

    .luxury-property h2 {
        text-align: center;
        padding: 30px 0 0 0;
        top: 30px;
        font-weight: 300;
        font-size: 2em;
        /* padding: 0; */
    }

    .footer-details {
        display: none;
    }

    .footer-form {
        width: 100%;
    }

    .footer-form {
        padding: 20px 30px 20px 30px;
    }

    .main-footer h2 {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .form-checkbox label {
        font-size: 9px;
        /* flex: 1; */
        line-height: 1.4;
        /* word-break: break-word; */
    }

    .display-flex {
        display: flex !important;
    }

    .footer-links a {
        font-size: 12px;
    }

    .footer-form .custom-btn {
        font-size: 10px;
        margin-bottom: 40px;
        margin-top: 20px;
        letter-spacing: .5px;
    }

    .main-footer h2 b {
        font-weight: 600;
    }

    .form-checkbox-box {
        margin-top: 30px;
    }

    .footer-form-input {
        margin-bottom: 0;
    }

    .mobile-menu {
        padding: 30px 0 80px 30px;
    }

    .mobile-menu-logo img {
        display: none;
    }

    .menu-icon {
        z-index: 999;
    }

    .main-header {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        z-index: 101;
        padding: 20px 10px;
        background: black;
    }

    .search-pop-up-content {
        font-size: 16px;
        padding: 35px 0;
        color: #ffffff;
    }

    .search-pop-up-content a {
        font-size: 14px;
        padding: 40px 10px 0 10px;
        color: #ffffff;
        font-weight: 400;
    }

    .search-pop-up-content h3 {
        font-size: 20px;
    }

    .footer-form-input input {
        height: 50px;
        font-size: 13px !important;
    }

    .project-slider-text h2,
    .project-slider-text h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .contact-list {
        flex-direction: row-reverse;
        align-content: center;
        justify-content: center;
        width: 100%;
        bottom: 20px;
    }

    .contact-list a {
        border: 1px solid #000;
        background-color: #000;
        height: 40px;
        width: 20%;
        border: 1px solid #FFFFFF99;
        border-radius: 4px;
        margin: 0 10px;
    }

    .footer-connect {
        font-size: 1.5rem;
    }

    .management-2-text h1 {
        font-size: 21px;
    }

    .management-2-text p {
        font-size: 16px;
        line-height: 22px;
    }

    .management-1 img {
        max-width: 90%;
        margin: 40px auto 0 auto;
    }

    .management-right .col-lg-5 {
        order: 2;
    }

    .management-right .management-2-text {
        padding: 0 0 0 0;
    }

    /***********************************/

    .scroll-container {
        display: none;
    }

    /* html, body {
      height: 100%;
    }

    html {
        overflow-y: scroll;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }
    body {
        overflow-y: visible;
        position: relative;
        height: unset;
    }

    html, body {
        overflow-x: hidden;
        margin: 0;
    } */

    .horizontal-scroll-mobile-panel {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        /* padding: 10px; */
        color: var(--color-just-black);
    }

    /* SCROLL DOWN */
    .scroll-down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        color: black;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        overflow: visible;
    }

    .horizontal-scroll-mobile-container {
        display: flex;
        height: 100vh;
        flex-wrap: nowrap;
        width: auto;
        /* Allow JavaScript to set width */
    }

    .green {
        background: green;
    }

    .red {
        background: red;
    }

    .orange {
        background: orange;
    }

    .purple {
        background: purple;
    }

    /*.horizontal-scroll-mobile-panel video {
        height: 100%;
    }

    .horizontal-scroll-mobile-panel {
        overflow: hidden;
    }*/

    .horizontal-scroll-mobile-panel {
        overflow: hidden;
        position: relative;
        width: 100vw;
        /* Full width of viewport */
        height: 100vh;
        /* Full height of viewport */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* Prevents extra content from showing */
        background: black;
        /* Optional: Ensures a clean background */
    }

    .horizontal-scroll-mobile-panel video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensures the video covers the container without distortion */
        position: absolute;
        top: 0;
        left: 0;
    }

    .horizontal-scroll-mobile-date {
        position: absolute;
        width: 70%;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .horizontal-scroll-mobile-date img {
        max-width: 100%;
    }

    .horizontal-scroll-mobile-contant {
        padding: 0 5px;
        color: #fff;
        width: 100%;
    }

    .horizontal-scroll-mobile-contant h2 {
        font-size: 26px;
        text-transform: uppercase;
        margin: 0 0 10px 0;
        font-weight: 400;
    }

    .horizontal-scroll-mobile-contant h3 {
        font-size: 27px;
        letter-spacing: 1.5px;
        font-weight: 100;
        text-transform: uppercase;
        margin: 0;
    }

    .horizontal-scroll-mobile-contant p {
        /* font-size: 18px; */
        /* letter-spacing: 1px; */
        /* text-align: center; */
        /* margin-top: 20px; */
        font-weight: 300;
        font-size: 17px;
        /* color: #fff; */
        /* font-family: "aktiv-thin"; */
        letter-spacing: 1px;
        /* text-align: center; */
        /* margin-top: 20px; */
        line-height: 26px;
    }

    .horizontal-scroll-mobile-breaking {
        z-index: 1;
    }

    .horizontal-scroll-mobile-contant img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .scroll-container-mobile {
        position: relative;
        width: 100%;
        /* height: 100vh; */
        overflow: hidden;
    }

    /**********************************/

    section.forging-new-mobile {
        height: 100%;
        overflow: hidden;
    }

    .forging-new-mobile-video {
        position: relative;
        width: 100%;
        height: 50vh;
        /* Set the height to 50% of the viewport */
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .forging-new-mobile-video video {
        width: 100%;
        height: auto;
        object-fit: contain;
        position: absolute;
        bottom: -80px;
    }

    .fnmv-2 video {
        /* width: 100%; */
        /* height: auto; */
        /* object-fit: contain; */
        /* position: absolute; */
        top: 0;
    }

    .forging-new-mobile-content-area {
        color: #fff;
        padding: 0 40px;
        text-align: center;
    }

    .forging-new-mobile-content.aos-init {
        height: 40vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    section.forging-new {
        display: none !important;
    }

    section.branded-slider {
        height: 100vh;
    }

    footer.main-footer.main-footer-active {
        height: 100vh;
    }

    .main-footer-bg {
        height: 100vh;
    }

    .branded-collection-contact-details h1 {
        font-size: 26px;
        line-height: 34px;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .branded-360-tab-btn .custom-btn {
        width: 80%;
    }

    .branded-360-tab-btn .custom-btn {
        margin: 0 10px;
        width: 70%;
        padding: 15px 0;
    }

    .project-tab-link {
        font-size: 10px;
        padding: 10px;
        margin: 0;
        height: auto;
    }

    .project-tabs {
        display: flex;
        margin-bottom: 0;
        flex-wrap: wrap;
        /* justify-content: center; */
    }

    .project-details-download-assets-box {
        width: 100%;
        /* margin: 0 auto; */
    }

    .project-details-download-assets a {
        font-size: 14px;
    }

    .project-details-download-assets i {
        font-size: 30px;
        margin-right: 0;
        width: 40px;
    }

    .project-details-download-assets-box {
        width: 80%;
    }

    .project-details-slider-arrow-left {
        left: 0;
        font-size: 30px;
    }

    .project-details-slider-arrow-right {
        right: 0;
        font-size: 30px;
    }

    .project-details-slider {
        padding: 30px;
    }

    .project-details-content h1 {
        font-size: 18px;
        line-height: 32px;
    }

    .project-details-content {
        width: auto;
    }

    .project-details {
        height: auto;
        padding: 50px 0;
    }

    iframe.project-details-tab-google-map {
        height: 70vh;
    }

    .project-details-slider-tabs,
    .project-details-slider-tabs * {
        height: 35vh;
    }

    .project-details-tab-slider-arrow-left,
    .project-details-tab-slider-arrow-right,
    .project-details-slider-tabs i {
        height: auto;
    }

    .project-details-tab-slider-content h2 {
        height: auto;
        bottom: 0;
    }

    .project-banner-details-text h2 {
        font-size: 13px;
        /* background: #00000078; */
        height: 40px;
        padding: 4px;
        border-radius: 3px;
        color: #ffffff;
        text-align: center;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-content: center; */
        /* align-items: center; */
        justify-content: center;
        background-image: url("https://auraliusweb.imgix.net/web-button-big.svg");
        /* border: 1px solid rgb(255 255 255 / 39%); */
    }

    .project-banner-details {
        padding: 10px 0;
        padding: 10px 0 70px 0;
    }

    .project-banner-details-text-box {
        flex-wrap: wrap;
    }

    .project-banner-details-text {
        width: 50%;
        padding: 5px 5px;
        text-align: center;
    }

    .project-banner h1 {
        font-size: 26px;
        margin-top: 67px !important;
    }

    /* .main-header-logo .main-header-left {
        display: none;
    } */

    .management {
        padding-top: 80px;
        margin: 0;
    }

    a.mobile svg {
        /* position: relative; */
        /* top: -2px; */
    }

    .property-search-area {
        display: block;
        margin-bottom: 30px;
    }

    .property-search-input select {
        width: 100%;
    }

    .property-search-input {
        margin-bottom: 15px;
        align-items: flex-start;
    }

    .price-slider-wrapper {
        width: 100%;
        background: #1b1b1b;
        padding: 10px 25px;
        border-radius: 4px;
    }

    .property-search-input h2 {
        font-size: 14px;
    }

    .property-search-link span {
        padding: 0px 5px;
        font-size: 14px;
        border: none;
    }

    .property-search h1 {
        font-size: 18px;
    }

    .property-search {
        margin-top: 100px;
    }

    .property-result-select label {
        min-width: 80px;
    }

    .property-result-select {
        gap: 0;
    }

    .property-available-img {
        height: 500px;
        margin-bottom: 20px;
    }

    .property-available-content ul {
        padding: 20px 0 0 0;
    }

    .property-result-filter-popup {
        position: fixed;
        top: 0;
        background: hsl(0deg 0% 0% / 90%);
        z-index: 97;
        display: none;
        padding-top: 100px;
        height: 100%;
    }

    .property-search-link {
        margin-bottom: 30px;
    }

    .property-result-filter-popup-icon {
        /* margin-top: 40px; */
        /* display: inline-flex; */
        position: relative;
        top: 3px;
    }

    .property-result-filter-popup>div:nth-child(2) {
        display: none;
    }

    .property-result-filter {
        margin-bottom: 30px;
    }

    .property-result-filter-popup .xmark {
        position: absolute;
        right: 30px;
        top: 99px;
    }

    .property-result-filter-popup>div:nth-child(5) {
        display: none;
    }

    .property-available-img {
        height: 260px;
    }

    .find-boutique-text h2 a {
        display: block;
        margin: 10px 0 10px 0;
    }

    .mobile-menu.mobile-menu-active-li li {
        padding-bottom: 10px;
    }

    .mobile-menu ul li ul li a {
        font-size: 15px;
    }

    .mobile-menu ul li ul {
        margin: 10px 0 -10px 0;
    }

    .with-country-code select {
        /* padding: 17px 0; */
        font-size: 13px;
        font-weight: 600;
    }

    .footer-form {
        align-content: flex-start;
    }

    .footer-form form,
    .footer-heading,
    .footer-links,
    .footer-social-media {
        /* width: 80%; */
        margin-left: auto;
        margin-right: auto;
    }

    .form-checkbox-box input[type="checkbox"] {
        padding: 0;
        margin: 0 0 10px 0;
    }

    .form-checkbox {
        display: flex;
        gap: 8px;
        align-items: center;
        display: flex;
        align-items: flex-start;
    }

    .find-boutique {
        margin-top: 80px;
    }

    .project-details-tab-box iframe {
        height: 280px;
    }

    .project-details-tab-box {
        margin-top: 50px;
        padding: 20px 0 40px 0;
    }

    .news-media h1 {
        font-size: 25px;
    }

    .news-media {
        margin: 150px 0 0 0;
    }

    .branded-previous,
    .branded-next {
        top: 52%;
    }

    .branded-360-tab-btn {
        bottom: 80px;
    }

    .property-search-input svg {
        width: 25px;
        margin-top: 3px;
    }

    .property-result-select {
        margin-bottom: 30px;
    }

    .property-available-btn {
        text-align: center;
    }

    .events img {
        margin-bottom: 0;
    }

    .main-bg-video-text {
        background: #1c1b1b;
        margin-top: -5px;
        padding: 15px 10px;
        margin: 0;
        margin: -5px 0 20px 0;
    }

    .main-bg-video-text h2 {
        margin: 0;
        font-size: 12px;
    }

    .main-bg-video-text h3 {
        font-size: 11px;
        margin: 10px 0 0 0;
    }

    .main-bg-video-text h3 b {
        font-size: 11px;
    }

    .events .custom-btn {
        margin: 0 auto;
        display: table;
    }

    .events {
        padding: 40px 0 40px 0;
    }

    .events h1,
    .events-blog h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .events-blog {
        margin: 40px 0 0 0;
    }

    .events-blog {
        margin: 30px 0 0 0;
    }

    .events-blog-item h4 {
        background-color: #1c1b1b;
        font-size: 12px;
        margin: 0;
    }

    .events-blog-2-text {
        background: #1c1b1b;
        padding-top: 30px;
        margin: 0 70px 0 0;
    }

    .events-blog-2-text h4 {
        font-size: 15px;
        line-height: 21px;
        text-align: center;
    }

    .events-blog-2-date-link {
        flex-direction: column;
        align-items: center;
    }

    .events-blog-2-date-link span {
        margin-top: 5px;
    }

    .events-blog-2-date-link span svg {
        position: relative;
        top: 2px;
        margin-left: 3px;
    }

    .events img {
        /* height: 400px; */
        /* object-fit: cover; */
    }

    .project-banner-details {
        z-index: 98;
    }

    .with-country-code select,
    .with-country-code input {
        height: 50px;
    }

    .terms-and-conditions .main-popup-box {
        width: 90%;
    }

    .terms-and-conditions-result {
        padding: 0 10px;
    }

    .terms-and-conditions-result strong {
        text-align: left;
    }

    .terms-heading {
        margin: 0;
        font-size: 30px;
    }

    .terms-and-conditions-result strong {
        line-height: 30px;
    }

    .single-event-content-time {
        flex-direction: column;
    }

    .single-event-content h1 {
        line-height: 36px;
        font-size: 26px;
    }

    .single-event {
        margin-top: 120px;
    }

    .single-event-content-time time {
        font-size: 18px;
    }

    .single-event-content p {
        font-size: 16px;
        width: 90%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .main-popup-box {
        width: 100%;
    }

    .video-call h2 {
        font-size: 28px;
    }

    .video-call h2 b {
        display: block;
    }

    .video-call .row {
        margin-top: 20px;
    }

    .video-call .main-popup-box {
        max-height: 100vh;
        overflow-y: auto;
    }

    .bvcm_time_slots {
        height: 120px;
    }

    .time-slot-heading {
        margin: 23px 0 10px 0;
    }

    .contact-list a:hover {
        transform: translateX(0);
    }

    .mobile-error {
        margin: 5px 0 0 0;
    }

    .conditions-error {
        margin: -7px 0 10px 0;
    }

    /***** order change *****/
    .main-popup-box .row {
        display: flex;
        flex-wrap: wrap;
    }

    .main-popup-box .col-lg-5,
    .main-popup-box .col-lg-2 {
        order: 0;
    }

    .main-popup-box .col-lg-5:nth-child(1) {
        order: 3;
        /* Move the first .col-lg-5 (Form) to last */
    }

    .main-popup-box .col-lg-5:nth-child(2) {
        order: 1;
        /* Calendar section first */
    }

    .main-popup-box .col-lg-2:nth-child(3) {
        order: 2;
        /* Time slot section second */
    }

    /***** order change *****/
    .checkout-details-form {
        padding: 0 0 0 0;
    }

    .checkout-details-conditions h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .checkout-details-conditions h2 br {
        display: none;
    }

    .checkout-details {
        margin: 100px 0 120px 0;
    }

    .bpsp-results.row {
        max-height: initial;
    }

    .video-call .main-popup-box {
        padding: 15px 10px 200px 10px;
    }

    .award-heading b {
        display: block;
    }

    .luxury-page .custom-btn-2 {
        bottom: 90px;
    }

    .project-details-overview {
        padding: 15px 0 0 0;
    }

    .video-call .xmark {
        position: unset;
    }

    .xmark-box {
        text-align: right;
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 20px;
    }

    .about-us-page .branded-slider h3 {
        font-weight: 400;
    }

    .horizontal-scroll-breaking-logo {
        margin: 30px 0 0 0;
    }

    .forging-new-mobile-content-area p {
        font-weight: 300;
        line-height: 20px;
        font-weight: 100;
    }

    .news-media-page .events-blog-2-text h4 {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
    }

    .events-page .events-blog-2-text {
        width: 80%;
    }

    .events-blog-arrow-left,
    .events-blog-two-arrow-left,
    .events-blog-three-arrow-left {
        left: -10px;
    }

    .events-blog-arrow-right,
    .events-blog-two-arrow-right,
    .events-blog-three-arrow-right {
        right: -10px;
    }

    .project-slider-text h2 {
        font-weight: 300;
    }

    .mercedes-benz-legal-terms .main-popup-box {
        padding: 0 20px;
    }

    .luxury-property a {
        bottom: 100px;
    }

    .news-media-page .events-blog-2-date-link {
        flex-direction: row;
    }

    .call-popup-2 {
        padding: 0 10px 0 10px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {}


/* Devices:
     - iPhone 6/7/8/X/11/12/13/14/15
     - Galaxy S5, S6, S7, A20, A50
     - Pixel 4a, 5
     - Xiaomi Redmi Note 7, 8
     - Oppo A5, A9
     - Huawei P20 Lite
*/
@media only screen and (max-width: 480px) {

    .branded-previous,
    .branded-next {
        top: 56%;
    }

    .awards img {
        max-width: 100%;
        margin-bottom: 15%;
        height: 60px;
    }
}

/* Devices:
     - iPhone SE (1st & 2nd gen)
     - iPod Touch
     - Galaxy A01 Core, J1
     - Older Android phones
*/

@media only screen and (max-width: 375px) {
    .mobile-menu ul li a {
        font-size: 16px;
    }

    .search-icon svg {
        width: 25px;
    }

    .lead-popup-content {
        padding: 40px 30px;
    }
}

@media only screen and (max-width: 360px) {
    body {
        font-size: 13px;
    }

    .logo img {
        max-width: 100%;
    }
}



/* Slide Down when scrolling */
.main-header-action {
    position: fixed;
    top: 0;
    /* Fixes navbar position */
    transform: translateY(0);
    /* Makes sure it stays visible */
    opacity: 1;
}















/* Mobile: less than 768px */
/*@media (max-width: 767px) {
  .mobile {
    visibility: visible !important;
    position: static !important;
  }

  .desktop {
    visibility: hidden !important;
    position: absolute !important;
    left: -9999px;
  }
}*/

/* Desktop: 768px and above */
/*@media (min-width: 768px) {
  .mobile {
    visibility: hidden !important;
    position: absolute !important;
    left: -9999px;
  }

  .desktop {
    visibility: visible !important;
    position: static !important;
  }
}*/


/* Mobile: less than 768px */
@media (max-width: 767px) {
    .desktop {
        display: none !important;
    }
}

/* Desktop: 768px and above */
@media (min-width: 768px) {
    .mobile {
        display: none !important;
    }
}